.loginBody {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.loginContainer {
  background-color: #87ceeb;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
}

.loginHeader {
  background-color: #87ceeb;
  border-bottom: 1px solid #87ceeb;
  padding: 20px 40px;
}

.loginHeader h1 {
  margin: 5px;
  font-size: 33px;
  text-align: center;
  border-bottom: lightslategray solid;
}

.form-login {
  padding: 30px 40px;
}

.formInputs {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.formLabel {
  display: inline-block;
  margin-bottom: 5px;
}

.form-check label {
  font-size: 13px;
}
.formInputBtn {
  margin: auto;
  /* box-shadow: 10px; */
  background-color: #ffa500;
  border: 2px solid #ffa500;
  border-radius: 4px;
  color: block;
  font-family: inherit;
  font-size: 20px;
  padding: 10px;
  width: 100%;
}
