/* html {
    scroll-behavior: smooth;
  } */
.navbar {
  opacity: 0.6;
  font-size: 18px;
}

.logo {
  width: 4vw;
}

.containerNav {
  opacity: 0.85;
  padding: 10px;
  box-shadow: 3px 3px 11px 5px rgb(0 0 0 / 32%);
  font-size: 20px;
}

.item {
  margin: 0px 16px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
